/*general*/

body{
    background-color: #191C40;
    /*  color: #B29758; */
    color: #DAA520; /* goldenrod*/
}

h1{
    color: #FFFFFF !important;
}

div.sectionWrapper{
    clear: both;
}

div.item{
    /*border: 5px solid #5C5F7C;
    border-radius: 1em;*/
    margin: 1em;
    padding: 1em;
    display: block;
    overflow: auto;
}

.transparent{
    opacity: 0;
}

.center{
    text-align: center;
}

div.ui-group-vertical{
    border-bottom: 1px solid #5C5F7C;
    padding-bottom: 1em;
    color: #B29758;
}

div.ui-group-horizontal{
    border-right: 1px solid #5C5F7C;
    padding-right: 1em;
    color: #B29758;
}

div.ui-subgroup{
    margin-bottom: 4px;
    display: flex;
    justify-content:space-between;
}

.input-group{
    margin-bottom: 4px;
}

.black-text{
    color: #000000;
}

.red-text{
    color: #FF6666;
}

.btn-group {
  display: flex;
}

input[type="number"] {
    width: 6em;
}

input, button, select, li.toggle{
    color: #404472;
}

.badge{
    background-color: #87D37C;
}

div.no-pad{
    padding: 0px;
}

.btn-default{
    background-color: #DAA520 !important; /* goldenrod*/
    border-color: #DAA520 !important; /* goldenrod*/
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-warning{
    background-color: #977316 !important;
    border-color: #977316 !important;
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

#messageDiv{
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: large;
    display: none;
}

div.globalContent{
  border-radius: 25px;
  border: 2px solid #FA8072; /* Salmon pink */
  padding: 20px;
  margin-bottom: 6px;
}

div.gateContent{
  border-radius: 25px;
  border: 2px solid #FA8072; /* Salmon pink */
  padding: 20px;
  margin-bottom: 6px;
}

div.histogramContent{
  border-radius: 25px;
  border: 2px solid #FA8072; /* Salmon pink */
  padding: 20px;
  margin-bottom: 6px;
}

div.headerContent{
    color: #FFFFFF;
}

#serverHostNameDisplay{
    position: relative;
    bottom: 0;
    right: 0;
}

#MidFilesSelect{
    height: 400px;
    background-color: #191C40;
    border: 2px solid #FA8072; /* Salmon pink */
    border-radius: 25px;
    color: #DAA520; /* goldenrod*/
}

.midasFileOptionFileSizeDiv{
    position: relative;
    right: 0;
}

.analyzer-input-text{
    width: 100%;
    background-color: #191C40;
    border: 2px solid #FA8072; /* Salmon pink */
    border-radius: 25px;
    color: #DAA520; /* goldenrod*/
    padding: 6px;
    margin-bottom: 6px;
}

.histo-row{
    border-bottom: solid 1px #FA8072; /* Salmon pink */
    padding: 4px;
    margin-bottom: 6px;
}
