/*general*/

body{
    background-color: #333333;
    color: #FFFFFF;
}

div.sectionWrapper{
    clear: both;
}

div.item{
    /*border: 5px solid #999999;
    border-radius: 1em;*/
    margin: 1em;
    padding: 1em;
    display: block;
    overflow: auto;
}

.transparent{
    opacity: 0;
}

.center{
    text-align: center;
}

.hidden{
    display: none;
}

div.ui-group-vertical{
    border-bottom: 1px solid #999999;
    padding-bottom: 1em;
    color: #FFFFFF;
}

div.ui-group-horizontal{
    border-right: 1px solid #999999;
    padding-right: 1em;
    color: #FFFFFF;
}

div.ui-subgroup{
    margin-bottom: 4px;
    display: flex;
    justify-content:space-between;
}

.input-group{
    margin-bottom: 4px;
}

.black-text{
    color: #000000;
}

.red-text{
    color: #FF6666;
}

.error-text{
    color: #FF6666;
   font-size: xx-large;
}

.btn-group {
  display: flex;
}

.heavy-text {
font-weight: bold;
}

input[type="number"] {
    width: 6em;
}

input, button, select, li.toggle{
    color: #000000;
}

.badge{
    background-color: #87D37C;
}

div.no-pad{
    padding: 0px;
}

div.progress{
   margin-top: 1em;
   width: 100%;
}

.progress-bar {
   -webkit-transition: none;
   -moz-transition: none;
   -ms-transition: none;
   -o-transition: none;
   transition: none;
}

#drop-area {
  border: 4px dashed #ccc;
  border-color: #FA8072; /* Salmon pink */
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 10px auto;
  padding: 8px;
}
#drop-area.highlight {
  border-color: #DAA520; /* goldenrod*/
}
#fileElem {
  display: none;
}

textarea {
border-color: #FA8072; /* Salmon pink */
border-radius: 10px;
    background-color: #333333;
    margin: 4px auto;
}

#messageDiv{
    background-color: #FF0000;
    display: none;
}
#messageDivText{
    width: 60%;
    text-align: center;
    margin: auto;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    font-size: large;
}
#messageDivButton{
    width: 5%;
    background-color: #FF0000;
    margin: auto;
    position: absolute;
    right: 5%;
    top: 5%;
}
