/*general*/

body{
    background-color: #333333;
    color: #FFFFFF;
}

div.sectionWrapper{
    clear: both;
}

div.item{
    /*border: 5px solid #999999;
    border-radius: 1em;*/
    margin: 1em;
    padding: 1em;
    display: block;
    overflow: auto;
}

.transparent{
    opacity: 0;
}

.center{
    text-align: center;
}

div.ui-group-vertical{
    border-bottom: 1px solid #999999;
    padding-bottom: 1em;
    color: #FFFFFF;
}

div.ui-group-horizontal{
    border-right: 1px solid #999999;
    padding-right: 1em;
    color: #FFFFFF;
}

div.ui-subgroup{
    margin-bottom: 4px;
    display: flex;
    justify-content:space-between;
}

.input-group{
    margin-bottom: 4px;
}

.black-text{
    color: #000000;
}

.red-text{
    color: #FF6666;
}

.btn-group {
  display: flex;
}

input[type="number"] {
    width: 6em;
}

input, button, select, li.toggle{
    color: #000000;
}

.badge{
    background-color: #87D37C;
}

div.no-pad{
    padding: 0px;
}