<div class='sectionWrapper'>
    <h4>Fitting & Zeroing</h4>
    <button type="button" class="btn btn-default btn-lg" id='{{id}}fitMode' engaged='0'>
        <span id='{{id}}fitBadge' class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Fit a new Peak
    </button>

    <button type="button" class="btn btn-default btn-lg" id='{{id}}deleteAll'>
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Remove all plots
    </button>

    <span id='{{id}}fitInstructions' class='hidden'>Click on either side of the peak to perform a fit.</span>
</div>

{{> auxPlotControlTable}}