<div class='sectionWrapper'>
    <h4>Fitting & Zeroing</h4>
    <button type="button" class="btn btn-default btn-lg" id='{{id}}fitMode' engaged='0'>
        <span id='{{id}}fitBadge' class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Fit a new Peak
    </button>

    <button type="button" class="btn btn-default btn-lg" id='{{id}}deleteAll'>
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Remove all plots
    </button>

    <button class="btn btn-info" style='float:right;' data-trigger="hover" data-html="true" data-toggle="tooltip" title="1. Click the 'Fit Target' button beside the plot you want to fit. <br><br> 2. Click 'Fit a New Peak' <br><br> 3. Click on the limits of the fit region. <br><br> Note fit line will be removed when data is updated; stop data update first to avoid this." data-placement="auto left" data-container="body">Fitting Help</button>

    <span id='{{id}}fitInstructions' class='hidden'>Click on either side of the peak to perform a fit.</span>
</div>

{{> auxPlotControlTable}}