<tr id='fitRow{{spectrum}}'>
    <td>{{spectrum}}</td>
    <td>
        <input id='{{spectrum}}Radio' type='radio' checked name='fitTarget' value='{{spectrum}}' onclick='chooseFitTarget("{{spectrum}}")'></input>
    </td>
    <td id='{{spectrum}}FitResult'>-</td>
</tr>