<div id='plotWrap' class='col-md-8 item plotRegion'>
    <canvas id='plotID'></canvas>

    <!--form id="plotControl">
        <div id="xRangeWrap" class="col-md-3 UIchunk">   
            <input class="inputBox" id="minX" value="0" onchange="updatePlotRange()" type="number"></input>
            <label class="inputLabel" id="xRangeLabel">&lt; x &lt;</label>
            <input class="inputBox" id="maxX" value="2048" onchange="updatePlotRange()" type="number"></input>
        </div>

        <div id="scrollWrap" class="col-md-2 UIchunk">
            <button class="inputButton" id="bigLeft" type="button">⇇</button>
            <button class="inputButton" id="littleLeft" type="button">←</button>
            <button class="inputButton" id="littleRight" type="button">→</button>
            <button class="inputButton" id="bigRight" type="button">⇉</button>
        </div>

        <div id="fitModeToggle" engaged="0" class='col-md-2'>
            Fit Mode
        </div>

        <div class='col-md-2'>
            <button class="inputButton" id="unzoom" type="button">Unzoom</button>
        </div>

        <div id="logToggleWrap" class="col-md-2 UIchunk">
            <label class="inputLabel" id="linLabel">Linear</label>
            <label class="inputLabel" id="logLabel">Log</label>
        </div>

        <div class='col-md-2'>
            <button class="inputButton" id="waveformSnap" type="button" engaged="0">Snap to Waveform</button>
        </div>

        <div id="updateWrap" class="UIchunk">
            <label id="updateLabel" class="inputLabel">Update Every: </label>
            <select id="upOptions">
                <option value="3000">3 s</option>
                <option value="5000">5 s</option>
                <option value="10000">10 s</option>
                <option value="-1">never</option>
            </select>
            <button id="upNow" class="inputButton" type="button">Update Now</button>
        </div>
    </form-->
</div>