<form id="{{id}}PlotControl">

    <div class='UIgroup'>
        <h4>Cursor</h4>
        <span id='{{id}}cursorReport'>x: - y: -</span>
    </div>

    <div class='UIgroup'>
        <h4>X-axis Control</h4> 

        <div class='UIchunk'>
            <label class="inputLabel" for='{{id}}minX'>min x:</label>
            <input class="inputBox" id="{{id}}minX" value="0" type="number"></input>
        </div>

        <div class='UIchunk'>
            <label class="inputLabel" for='{{id}}maxX'>max x:</label>
            <input class="inputBox" id="{{id}}maxX" value="512" type="number"></input>
        </div>

        <div class='UIchunk'>
            <label class="inputLabel">Scroll</label>
            <div class='btn-group' roll='group'>
                <button class="btn btn-default" id="{{id}}bigLeft" type="button">⇇</button>
                <button class="btn btn-default" id="{{id}}littleLeft" type="button">←</button>
                <button class="btn btn-default" id="{{id}}littleRight" type="button">→</button>
                <button class="btn btn-default" id="{{id}}bigRight" type="button">⇉</button>
            </div>
        </div>

        <div class='UIchunk btn-group btn-group-sm' roll='group'>
            <button class="btn btn-default" id="{{id}}unzoom" type="button">Unzoom</button>
            {{# waveformSnap}}
                <button class="btn btn-default" id="{{id}}snapWaveform" type="button">Snap To Wvfrm.</button>
            {{/ waveformSnap}}
        </div>
    </div>

    <div class='UIgroup'>
        <h4>Y-axis Control</h4> 

        <div id="{{id}}logToggleWrap"  class='UIchunk btn-group btn-group-sm' roll='group'>
            <button id='{{id}}linearY'class="btn btn-default" type="button">Set Lin</button>
            <button id='{{id}}logY'class="btn btn-default" type="button">Set Log</button>
        </div>

    </div>    

    {{# doUpdates}}
        <div id='{{id}}updateWrap' class='UIgroup'>
            <h4>Data Fetching</h4>
            <label id="{{id}}updateLabel" class="inputLabel">Update Every: </label>
            <select id="{{id}}upOptions">
                <option value="3000" selected="selected">3 s</option>
                <option value="5000">5 s</option>
                <option value="10000">10 s</option>
                <option value="-1">never</option>
            </select>
            <button id="{{id}}upNow" class="btn btn-default" type="button">Update Now</button>
        </div>
    {{/ doUpdates}}

</form>