<div id='plotMenu' class='col-md-3 item plotSelector'>
    {{# groups}}
        <h4 class='plotGroupTitle' onclick='toggleHidden("plots{{groupID}}")'>{{groupTitle}}</h4>
        <ul id='plots{{groupID}}' class='list-group'>
            {{# plots}}
                <li class='list-group-item' id='{{groupID}}{{plotID}}'>
                    {{title}}
                    <span id='badge{{groupID}}{{plotID}}' class="badge plotPresent hidden">&#x2713;</span>
                </li>
            {{/ plots}}
        </ul>
    {{/groups}}
</div>