<div id='{{id}}{{label}}Control' class='cellControl'>
    <span id='{{id}}{{label}}Delete' class="glyphicon glyphicon-remove-sign redText deleteCell" aria-hidden="true"></span>
    <span>{{label}}</span>
    <label for='{{id}}{{label}}attachAxis'>Active Window</label>
    <input type='checkbox' id='{{id}}{{label}}attachAxis' class='activeWindowFlag' checked value='{{label}}'></input>
    <canvas id='{{label}}' class='plotCanvas'></canvas>
</div>
