<div id='{{id}}{{label}}Control' class='cellControl'>
    <span id='{{id}}{{label}}Delete' class="glyphicon glyphicon-remove-sign redText deleteCell" aria-hidden="true"></span>
    <span>{{label}}</span>
    <label for='{{id}}{{label}}attachAxis'>Attach axis control</label>
    <input type='checkbox' id='{{id}}{{label}}attachAxis' checked value='{{label}}'></input>
</div>
<canvas id='{{label}}'></canvas>

