{{# groups}}
    <h4 id='{{groupID}}' class='plotGroupTitle' onclick='togglePlotList("{{groupID}}")'>
        <span id='closed{{groupID}}' class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
        <span id='open{{groupID}}' class="glyphicon glyphicon-circle-arrow-down hidden" aria-hidden="true"></span>
        {{groupTitle}}
    </h4>
    <ul id='plots{{groupID}}' class='list-group hidden'>
        {{# plots}}
            <li class='list-group-item toggle' id='{{groupID}}{{plotID}}'>
                {{title}}
                <span id='badge{{groupID}}{{plotID}}' class="badge plotPresent hidden">&#x2713;</span>
            </li>
        {{/ plots}}
    </ul>
{{/groups}}