<div id='dygraph'></div>
<div id='rateLegend'></div>

<label for='rateHistory'>x-range: </label>
<select id='rateHistory'>
    <option value='60' selected>Last minute</option>
    <option value='600'>Last 10 minutes</option>
    <option value='3600'>Last hour</option>
    <option value='-1'>Since Refresh</option>
</select>