<link rel="stylesheet" href="analyzer-histograms.css">
<script src='analyzer-histograms.js' type="text/javascript"></script>

<template id='analyzer-histograms'>
	
    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Histograms-Global'>
            <h2>Global Conditions</h2>
	<div id='GlobalConditions'>
            <div id='globals-wrap'></div>
            <button class='btn btn-info' onclick='addNewGlobal();'>Add a new Global condition</button>
	</div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Histograms-Gates'>
            <h2>Gating Conditions</h2>
	<div id='GateConditions'>
            <div id='gates-wrap'></div>
            <button class='btn btn-info' onclick='addNewGate();'>Add a new Gate condition</button>
	</div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Histograms-Histograms'>
            <h2>Histogram Definitions</h2>
	<div id='HistogramDefinitions'>
	<div id='histograms-wrap'></div>
            <button class='btn btn-info' onclick='addNewHistogram();'>Add a new Histogram definition</button>
	</div>
        </div>
    </div>

</template>
    
<script>
    function setupAnalyzerHistograms(wrapperID){
        document.getElementById(wrapperID).innerHTML = "";
        document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-histograms'], {});

        // get the Global conditions, Gates conditions and Histogram definitions from the server/ODB
      //  promiseScript('http://' + dataStore.host + '/?cmd=jcopy&odb=/Filter&encoding=json-p-nokeys&callback=processHistograms');

    //Create a dummy Config file and then process it

   var payload = 
{
    "Analyzer" : {
       "Gates" : {
          "BetaVeto" : "SepE=0",
          "GeBetaDt" : "GeSepdT<100",
          "BetaCoinc" : "SepE>0"
       },
       "Histograms" : {
          "GeEx" : {
             "Title" : "GeBetaVeto",
             "Path" : "Extras/Test",
             "X variable" : "GeE",
             "X bins" : 256,
             "Gate0" : "BetaVeto"
          },
          "GeE" : {
             "Title" : "Singles Ge Energy",
             "Path" : "Extras/Test",
             "X variable" : "GeE",
             "X bins" : 256
          },
          "SepT" : {
             "Title" : "Sceptar Time",
             "Path" : "Extras/Test",
             "X variable" : "SepT",
             "X bins" : 256
          }
       }
    }
    };
    buildExampleConfig();
//processHistograms(payload);

    
    }
</script>