<template id='globalBlock'>
    <div id='leftTab{{globalNumber}}' class='col-md-1 left-tab'>Global Condition</div>
    <div id='globalContent{{globalNumber}}' class='col-md-11 globalContent'>
    <div class='global-control'>
       <div id='GlobalContentTable{{globalNumber}}'>
          <div class='row'>
	    <div class='col-md-5'>
	      <label for='globalName{{globalNumber}}'>Global Name:</label>
	      <input type='text' class='text-name' name='globalName{{globalNumber}}' id='globalName{{globalNumber}}' value='Global_condition_name' onchange='saveGlobalChangeToAnalyzerODB({{globalNumber}})'>
	    </div>
	    <div class='col-md-3'>
	      <label for='globalMin{{globalNumber}}'>Minimum value:</label>
	      <input type='number' value='-100' step='1' id='globalMin{{globalNumber}}' class='small-number' onchange='saveGlobalChangeToAnalyzerODB({{globalNumber}})'></input>
	    </div>
	    <div class='col-md-3'>
	      <label for='globalMax{{globalNumber}}'>Maximum value:</label>
	      <input type='number' value='100' step='1' id='globalMax{{globalNumber}}' class='small-number' onchange='saveGlobalChangeToAnalyzerODB({{globalNumber}})'></input>
	    </div>
	  </div>
	  
       </div>
       <button id='deleteGlobalCondition{{globalNumber}}' class='btn btn-danger' onclick='deleteGlobalBlock({{globalNumber}})'>Remove this Global condition</button>
    </div>
</template>
    
<template id='gateBlock'>
    <div id='leftTab{{gateNumber}}' class='col-md-1 left-tab'>Gate Condition</div>
    <div id='gateContent{{gateNumber}}' class='col-md-11 gateContent'>
      <div class='gate-control'>
        <div id='gateContentTable{{histogramNumber}}'>
          <div class='row'>
	    <div class='col-md-12'>
	       <label for='gateName{{gateNumber}}'>Gate Name:</label>
               <input type='text' class='text-name' name='gateName{{gateNumber}}' id='gateName{{gateNumber}}' value='Gate_name' onchange='saveGateChangeToAnalyzerODB({{gateNumber}})'>
            </div>
          </div>
        </div>
      </div>
    <div id='gateContentConditionTable{{gateNumber}}'></div>
    <button class='btn btn-info' id='andNewGateConditionRow{{gateNumber}}' onclick='addNewGateConditionRow({{gateNumber}});'>Add a new line to this Gate condition</button>
    <button id='deleteGateCondition{{gateNumber}}' class='btn btn-danger' onclick='deleteGateBlock({{gateNumber}})'>Remove this Gate condition</button>
</template>

<template id='histogramBlock'>
    <div id='leftTab{{histogramNumber}}' class='col-md-1 left-tab'>Histogram Definition</div>
    <div id='histogramContent{{histogramNumber}}' class='col-md-11 histogramContent'>
    <div class='histogram-control'>
    <div id='histogramContentTable{{histogramNumber}}' class="container-fluid">
      <div id='histogramNameRow{{histogramNumber}}' class='row histo-row'>
          <div class='col-md-2'><label for='histogramName{{histogramNumber}}'>Histogram Path/Name:</label></div>
          <div class='col-md-4'>
	  <input type='text' class='text-name' name='histogramPath{{histogramNumber}}' id='histogramPath{{histogramNumber}}' value='Histogram_path' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'>
	  </div>
          <div class='col-md-4'>
	  <input type='text' class='text-name' name='histogramName{{histogramNumber}}' id='histogramName{{histogramNumber}}' value='Histogram_name' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'>
	  </div>
	  <div class='col-md-2'><label for='dimensionType{{histogramNumber}}'>Type:</label>
	    <label for='1dimension{{histogramNumber}}'>1D</label>
	    <input type='radio' name='dimensionType{{histogramNumber}}' id='1dimension{{histogramNumber}}' value='1' onchange='toggleHistogramDimensions({{histogramNumber}}, 1)' checked>
	    <label for='2dimension{{histogramNumber}}'>2D</label>
	    <input type='radio' name='dimensionType{{histogramNumber}}' id='2dimension{{histogramNumber}}' value='2' onchange='toggleHistogramDimensions({{histogramNumber}}, 2)'>
	  </div>
      </div>
      <div id='XvariableRow{{histogramNumber}}' class='row'>
	  <div class='col-md-2'>
	    <label for='Xvariable{{histogramNumber}}'>Variable for X axis:</label>
	  </div>
	  <div class='col-md-9'>
	    <select id='Xvariable{{histogramNumber}}' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'>
	      {{#sortCodeVariables}}
	      <option value='{{short}}'>{{description}}</option>
		{{/sortCodeVariables}}
	    </select>
	  </div>
      </div>
      <div id='XinputRow{{histogramNumber}}' class='row histo-row'>
	  <div class='col-md-3'>
	    <label for='Xmin{{histogramNumber}}'>X axis Min.:</label>
	    <input type='number' value='0' step='1' id='Xmin{{histogramNumber}}' class='small-number' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'></input>
	  </div>
        <div class='col-md-3'>
	  <label for='Xmax{{histogramNumber}}'>X axis Max.:</label>
	  <input type='number' value='4096' step='1' id='Xmax{{histogramNumber}}' class='small-number' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'></input>
	</div>
	<div class='col-md-4'>
	  <label for='Xbins{{histogramNumber}}'>X axis Bins:</label>
	  <input type='number' value='4096' step='1' id='Xbins{{histogramNumber}}' class='small-number' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'></input>
	</div>
      </div>
      <div id='YvariableRow{{histogramNumber}}' class='row'>
	<div class='col-md-2'>
	  <label for='Yvariable{{histogramNumber}}'>Variable for Y axis:</label>
	</div>
	<div class='col-md-9'>
	  <select id='Yvariable{{histogramNumber}}' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'>
	    {{#sortCodeVariables}}
	    <option value='{{short}}'>{{description}}</option>
	      {{/sortCodeVariables}}
	  </select>
	</div>
      </div>
      <div id='YinputRow{{histogramNumber}}' class='row histo-row'>
	<div class='col-md-3'>
	  <label for='Ymin{{histogramNumber}}'>Y axis Min.:</label>
	  <input type='number' value='0' step='1' id='Ymin{{histogramNumber}}' class='small-number' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'></input>
	</div>
	<div class='col-md-3'>
	  <label for='Ymax{{histogramNumber}}'>Y axis Max.:</label>
	  <input type='number' value='4096' step='1' id='Ymax{{histogramNumber}}' class='small-number' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'></input>
	</div>
	<div class='col-md-4'>
	  <label for='Ybins{{histogramNumber}}'>Y axis Bins:</label>
	  <input type='number' value='4096' step='1' id='Ybins{{histogramNumber}}' class='small-number' onchange='saveHistogramChangeToAnalyzerODB({{histogramNumber}})'></input>
	</div>
      </div>
    </div>
    <div id='histogramContentConditionTable{{histogramNumber}}' class='container-fluid'></div>
  <button class='btn btn-info' id='addNewHistogramCondition{{histogramNumber}}' onclick='addNewHistogramCondition({{histogramNumber}});'>Add a new condition to this Histogram Definition</button>
  <button id='deleteHistogramDefinition{{histogramNumber}}' class='btn btn-danger' onclick='deleteHistogramBlock({{histogramNumber}})'>Remove this Histogram definition</button>
  </div>
</template>    