<link rel="stylesheet" href="analyzer-menu.css">

<template id='analyzer-menu'>
<div id='menu-wrap'> </div>
</template>

<script>

        // Variables for menu buttons
        var buttonNames = ["Sorting Control", "Histogram & Gate Definitions", "Spectrum Viewer & Analysis"];
        var buttonIDs = ["SortingButton", "HistogramsButton", "ViewerButton"];


function menuButtonClick(thisID){

    // set default state to all buttons
    for(i=0; i<buttonIDs.length; i++){
       document.getElementById(buttonIDs[i]).setAttribute('class', 'btn btn-default btn-lg');
    }

    //set selected button active state
    document.getElementById(thisID).classList.add('btn-warning');

    // Hide all pages
    document.getElementById('AnalyzerDisplaySorting').classList.add('hidden');
    document.getElementById('AnalyzerDisplayHistograms').classList.add('hidden');
    document.getElementById('AnalyzerDisplayViewer').classList.add('hidden');

    if(thisID == "SortingButton"){ document.getElementById('AnalyzerDisplaySorting').classList.remove('hidden');       }
    if(thisID == "HistogramsButton"){ document.getElementById('AnalyzerDisplayHistograms').classList.remove('hidden'); }
    if(thisID == "ViewerButton"){     document.getElementById('AnalyzerDisplayViewer').classList.remove('hidden'); }
}

function injectMenuButtons(){

        var i, newLink, current;
        var wrap = document.getElementById('menu-wrap');
        var DisplayDiv = 'AnalyzerDisplay';

        // Create menu buttons
    for(i=0; i<buttonNames.length; i++){
                newButton = document.createElement('button'); 
                newButton.setAttribute('id', buttonIDs[i]); 
                newButton.setAttribute('class', 'btn btn-default btn-lg'); 
                newButton.innerHTML = buttonNames[i];
                newButton.style.padding = '4px';
                newButton.onclick = function(){
                   menuButtonClick(this.id);
                }.bind(newButton);
                wrap.appendChild(newButton);
      }
}

    function setupAnalyzerMenu(wrapperID){
       document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-menu'], {});
       injectMenuButtons();

    //set active state
    document.getElementById("SortingButton").classList.add('btn-warning');
}


</script>