table.gainTable{
    margin-top: 1em;
}

div.progress{
    margin-top: 1em;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​

table.gainTable tr:nth-child(0n+1){
    font-weight: bold;
}

table.gainTable tr:nth-child(8n+5),
table.gainTable tr:nth-child(8n+4),
table.gainTable tr:nth-child(8n+3),
table.gainTable tr:nth-child(8n+2){ 
    background-color: #222222;
}

div.modal{
    color: #000000;
}
