<link rel="stylesheet" href="striptool.css"/>

<template id='striptool'>
    <div id='{{id}}Graph'></div>
    <div id='{{id}}Legend'></div>
</template>

<script>
    function striptool(wrapID){

        this.wrapID = wrapID;
        this.wrap = document.getElementById(wrapID);

        this.setup = function(){

            //inject template
            this.wrap.innerHTML = Mustache.to_html(dataStore.templates.striptool, {'id': this.wrapID});

            // custom event listeners
            listener(this.wrapID, 'updateDyData', this.updateData.bind(this))
            listener(
                this.wrapID, 
                'setDyVisible',                 
                function(event){
                    this.setVisible(event.detail.index, event.detail.isVisible)
                }.bind(this)
            )

            this.initializePlot(dataStore.plotInitData, dataStore.plotStyle);
        },

        this.initializePlot = function(data, style){
            //set up a new plot.
            //<data>: array; data for dygraph configured appropriately: [[x0, y00, y01, ..., y0n,], [x1, y10, y11, ..., y1n], ...]
            //<style>: object; styling object for dygraphs
            //this: striptool object

            this.dygraph = new Dygraph(
                document.getElementById(this.wrapID + 'Graph'),
                data,
                style
            );
        },

        this.updateData = function(event){
            //catch an event carrying new data, and update.
            //<event>: event; updateDyData custom event
            //this: striptool object

            var keys, i, annotations;

            this.dygraph.updateOptions( { 'file': event.detail.data } );

            //check for annotations to add
            //update annotations
            if(dataStore.annotations){
            keys = Object.keys(dataStore.annotations)
                if(keys.length > 0 ){
                    annotations = this.dygraph.annotations()
                    for(i=0; i<keys.length; i++){
                        //mark up annotation with the right time
                        dataStore.annotations[keys[i]].x = event.detail.data[event.detail.data.length-1][0].getTime();
                        //add to list
                        annotations.push(dataStore.annotations[keys[i]]);
                    }
                    //set annotations on dygraph and dump the annotation buffer
                    this.dygraph.setAnnotations(annotations)
                    dataStore.annotations = {};
                }
            }

        },

        this.setVisible = function(index, isVisible){
            //set visibility of series in this.dygraph
            //<index>: number; index of series to set visibility on
            //<isFisible>: bool; true -> data series at <index> is visible
            //this: striptool object

            this.dygraph.setVisibility(index, isVisible);
        }

    }
</script>