<template id='auxPlotControlTable'>
    {{# plots}}
        <div id='{{id}}{{.}}TableWrapper' class='sectionWrapper'>
            <h4>{{.}}</h4>
            <table id='{{id}}{{.}}Table' class="table">
                <tr>
                    <td class='col-md-4spectrumNames'>Spectra & Plot Color</td>
                    <td class='col-md-1 center uiCol'>Fit Target</td>
                    <td class='col-md-4'>Fit Results</td>
                    <td class='col-md-1 dropFitsCol center'>Drop Fits</td>
                    <td class='col-md-1 zeroCol center'>Zero</td>
                    <td class='col-md-1 deleteCol center'>Delete</td>
                </tr>
            </table>
        </div>
    {{/ plots}}
</template>