<link rel="stylesheet" href="auxPlotControl.css"/>

<template id='auxPlotControl'>
    <div>
        <h4>Fitting & Zeroing</h4>

        <button class="btn btn-info bottom-gutter" data-trigger="hover" data-html="true" data-toggle="tooltip" title="1. Click the 'Fit Target' radio beside the plot you want to fit. <br><br> 2. Shift-click on either side of the peak you want to fit." data-placement="auto left" data-container="body">Fitting Help</button>
    </div>

    {{> auxPlotControlTable}}
</template>

<script>

    function auxPlotControl(wrapID){

        this.wrapID = wrapID;
        this.wrap = document.getElementById(wrapID);

        this.setup = function(){
            this.wrap.innerHTML = Mustache.to_html(
                dataStore.templates.auxPlotControl, 
                {
                    'id': wrapID,
                    'plots': dataStore.plots
                },
                {
                    'auxPlotControlTable': dataStore.templates.auxPlotControlTable
                }
            );

            // set up custom event listeners
            listener(this.wrapID, 'addPlotRow', this.newTableRow.bind(this));
            listener(this.wrapID, 'newCell', this.newTable.bind(this));
            listener(this.wrapID, 'deleteCell', this.deleteTable.bind(this));
        }

        ////////////////////////
        // table management
        ////////////////////////

        this.newTableRow = function(event){
            //add a row to table event.detail.target for spectrum event.detail.plotName
            //<event>: event; addPlotRow custom event
            //this: auxPlotControl object

            //generate the row object and append it
            var row = document.createElement('tr');
            row.setAttribute('id', event.detail.target + event.detail.plotName);
            row.setAttribute('class', 'plotControlTable')
            var color = dataStore.viewers[event.detail.target].dataColor[dataStore.viewers[event.detail.target].colorAssignment.indexOf(event.detail.plotName)]
            var html = Mustache.to_html(dataStore.templates.fitRow, {
                'spectrum': event.detail.plotName, 
                'target': event.detail.target, 
                'color': color,
                'id': this.wrapID
            });
            row.innerHTML = html;

            document.getElementById(this.wrapID + event.detail.target + 'Table').appendChild(row);

            //plug in buttons
            document.getElementById('delete' + event.detail.target + event.detail.plotName).onclick = this.deleteSpectrum; 
            document.getElementById('zero' + event.detail.target + event.detail.plotName).onclick = this.zeroSpectrum; 
            document.getElementById('dropFit' + event.detail.target + event.detail.plotName).onclick = this.dropFit; 
        }

        this.newTable = function(event){
            //add a new table to go with a new cell
            //<event>: event; newCell custom event
            //this: auxPlotControl object

            var buffer = document.createElement('div');
            var html = Mustache.to_html(
                dataStore.templates.auxPlotControlTable, 
                {
                    'id': this.wrapID,
                    'plots': [event.detail.cellName]
                }
            );
            buffer.innerHTML = html;
            this.wrap.appendChild(buffer.getElementsByTagName('div')[0]);
        }

        this.deleteTable = function(event){
            //delete a table on deleteCell event
            //<event>: event; deleteCell custom event
            //this: auxPlotControl object

            deleteNode(this.wrapID + event.detail.cellName + 'TableWrapper');
        }

        ////////////////////////
        // data manipulation
        ////////////////////////

        this.deleteSpectrum = function(){
            //callback for delete button to remove corresponding plot
            //this: delete button element

            var target = this.getAttribute('target')
            var spectrum = this.getAttribute('spectrum')

            dataStore.viewers[target].removeData(spectrum);
            dataStore.viewers[target].plotData();

            deleteNode(target + spectrum);
        }

        this.zeroSpectrum = function(){
            //callback for zero button to zero corresponding plot
            //this: zero spectrum button element

            var target = this.getAttribute('target')
            var spectrum = this.getAttribute('spectrum')

            dataStore.viewers[target].baselines[spectrum] = JSON.parse(JSON.stringify(dataStore.viewers[target].plotBuffer[spectrum]));
            document.getElementById(target+spectrum+'FitResult').innerHTML = '-';
            dataStore.viewers[target].dropPersistentOverlay();
            dataStore.viewers[target].plotData();
        }

        this.dropFit = function(){
            //abandon last fit result for this spectrum
            //this: drop last fit button element

            var target = this.getAttribute('target')
            var spectrum = this.getAttribute('spectrum')

            document.getElementById(target+spectrum+'FitResult').innerHTML = '-';
            dataStore.viewers[target].dropPersistentOverlay();
            dataStore.viewers[target].plotData();
        }
    }

</script>