<link rel="stylesheet" href="auxPlotControl.css"/>

<template id='auxPlotControl'>
    <div class='sectionWrapper'>
        <h4>Fitting & Zeroing</h4>
        <button type="button" class="btn btn-default btn-lg" id='{{id}}fitMode' engaged='0'>
            <span id='{{id}}fitBadge' class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Fit a new Peak
        </button>

        <button type="button" class="btn btn-default btn-lg" id='{{id}}deleteAll'>
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Remove all plots
        </button>

        <button class="btn btn-info" style='float:right;' data-trigger="hover" data-html="true" data-toggle="tooltip" title="1. Click the 'Fit Target' button beside the plot you want to fit. <br><br> 2. Click 'Fit a New Peak' <br><br> 3. Click on the limits of the fit region. <br><br> Note fit line will be removed when data is updated; stop data update first to avoid this." data-placement="auto left" data-container="body">Fitting Help</button>

        <span id='{{id}}fitInstructions' class='hidden'>Click on either side of the peak to perform a fit.</span>
    </div>

    {{> auxPlotControlTable}}
</template>

<script>

    function auxPlotControl(wrapID){

        this.wrapID = wrapID;
        this.wrap = document.getElementById(wrapID);

        this.setup = function(){
            this.wrap.innerHTML = Mustache.to_html(
                dataStore.templates.auxPlotControl, 
                {
                    'id': wrapID,
                    'plots': dataStore.plots
                },
                {
                    'auxPlotControlTable': dataStore.templates.auxPlotControlTable
                }
            );

            // set up custom event listeners
            listener(this.wrapID, 'addPlotRow', this.newTableRow.bind(this));
            listener(this.wrapID, 'newCell', this.newTable.bind(this));
            listener(this.wrapID, 'deleteCell', this.deleteTable.bind(this));

            //plug in delete all button
            document.getElementById(this.wrapID + 'deleteAll').onclick = this.deleteAllSpectra;
            //plug in fit mode toggle
            document.getElementById(this.wrapID + 'fitMode').onclick = this.toggleFitMode.bind(this);
        }

        ////////////////////////
        // table management
        ////////////////////////

        this.newTableRow = function(event){
            //add a row to table event.detail.target for spectrum event.detail.plotName
            //<event>: event; addPlotRow custom event
            //this: auxPlotControl object

            //generate the row object and append it
            var radio;
            var row = document.createElement('tr');
            row.setAttribute('id', event.detail.target + event.detail.plotName);
            row.setAttribute('class', 'plotControlTable')
            var color = dataStore.viewers[event.detail.target].dataColor[dataStore.viewers[event.detail.target].colorAssignment.indexOf(event.detail.plotName)]
            var html = Mustache.to_html(dataStore.templates.fitRow, {
                'spectrum': event.detail.plotName, 
                'target': event.detail.target, 
                'color': color,
                'id': this.wrapID
            });
            row.innerHTML = html;

            document.getElementById(this.wrapID + event.detail.target + 'Table').appendChild(row);

            //plug in buttons
            document.getElementById('delete' + event.detail.target + event.detail.plotName).onclick = this.deleteSpectrum; 
            document.getElementById('zero' + event.detail.target + event.detail.plotName).onclick = this.zeroSpectrum; 
            document.getElementById('dropFit' + event.detail.target + event.detail.plotName).onclick = this.dropFit; 

            //plug in fit target radio, emulate its click behavior
            radio = document.getElementById(event.detail.target + event.detail.plotName + 'Radio')
            radio.onclick = this.setFitTarget
            radio.onclick();
        }

        this.newTable = function(event){
            //add a new table to go with a new cell
            //<event>: event; newCell custom event
            //this: auxPlotControl object

            var buffer = document.createElement('div');
            var html = Mustache.to_html(
                dataStore.templates.auxPlotControlTable, 
                {
                    'id': this.wrapID,
                    'plots': [event.detail.cellName]
                }
            );
            buffer.innerHTML = html;
            this.wrap.appendChild(buffer.getElementsByTagName('div')[0]);
        }

        this.deleteTable = function(event){
            //delete a table on deleteCell event
            //<event>: event; deleteCell custom event
            //this: auxPlotControl object

            deleteNode(this.wrapID + event.detail.cellName + 'TableWrapper');
        }

        ////////////////////////
        // data manipulation
        ////////////////////////

        this.deleteAllSpectra = function(){
            //delete every spectrum currently displayed

            var deleteButtons = document.getElementsByClassName('deleteRow')
            while(deleteButtons.length > 0){
                deleteButtons[0].onclick(); //actually modifies deleteButtons in place - keep deleting zeroth element.
            }
        }

        this.deleteSpectrum = function(){
            //callback for delete button to remove corresponding plot
            //this: delete button element

            var target = this.getAttribute('target')
            var spectrum = this.getAttribute('spectrum')

            dataStore.viewers[target].removeData(spectrum);
            dataStore.viewers[target].plotData();

            deleteNode(target + spectrum);
        }

        this.zeroSpectrum = function(){
            //callback for zero button to zero corresponding plot
            //this: zero spectrum button element

            var target = this.getAttribute('target')
            var spectrum = this.getAttribute('spectrum')

            dataStore.viewers[target].baselines[spectrum] = JSON.parse(JSON.stringify(dataStore.viewers[target].plotBuffer[spectrum]));
            document.getElementById(target+spectrum+'FitResult').innerHTML = '-';
            dataStore.viewers[target].clearFits();
            dataStore.viewers[target].plotData();
        }

        this.dropFit = function(){
            //abandon last fit result for this spectrum
            //this: drop last fit button element

            var target = this.getAttribute('target')
            var spectrum = this.getAttribute('spectrum')

            document.getElementById(target+spectrum+'FitResult').innerHTML = '-';
            dataStore.viewers[target].clearFits();
            dataStore.viewers[target].plotData();
        }

        this.toggleFitMode = function(){
            //manage the state of the Fit Mode button, and the corresponding state of the viewer.
            //this: auxPlotControl object

            //determine which canvas and spectrum we're currently pointing at
            var radio = checkedRadio(this.wrapID+'fitTarget');
            var target = radio.getAttribute('target');
            var spectrum = radio.getAttribute('spectrum');            

            var fitModeSwitch = document.getElementById(this.wrapID + 'fitMode')
            var state = fitModeSwitch.getAttribute('engaged')

            //make sure the fit callback is set up
            dataStore.viewers[target].fitCallback = this.fitCallback.bind(this);

            if(state == 0){
                dataStore.viewers[target].setupFitMode();
                fitModeSwitch.setAttribute('engaged', 1);
                document.getElementById(this.wrapID+'fitBadge').classList.add('red-text')
            }
            else{
                dataStore.viewers[target].leaveFitMode();
                fitModeSwitch.setAttribute('engaged', 0);
                document.getElementById(this.wrapID+'fitBadge').classList.remove('red-text')
            }

            //toggle state indicator
            document.getElementById(this.wrapID+'fitInstructions').classList.toggle('hidden')
        }

        /////////////////
        // callbacks
        /////////////////

        this.setFitTarget = function(event){
            //callback for radios to set fit targets
            //<event>: event; onclick
            //this: fit target radio element

            var target = this.getAttribute('target')
            var spectrum = this.getAttribute('spectrum')

            dataStore.viewers[target].fitTarget = spectrum;
        }

        this.fitCallback = function(center, width, amplitude, intercept, slope){
            //route the fit results to the table, and gracefully exit fit mode.
            //<center>: number; center of gaussian peak
            //<width>: number; width of peak
            //<amplitude>: number; amplitude of peak
            //<intercept>: number; intercept of linear background beneath peak
            //<slope>: number; slope of linear background
            //this: auxPlotControl object

            var radio = checkedRadio(this.wrapID + 'fitTarget');
            var target = radio.getAttribute('target');
            var spectrum = radio.getAttribute('spectrum'); 

            var spectrum = dataStore.viewers[target].fitTarget,
                reportDiv = document.getElementById(target+spectrum+'FitResult'),
                integral = 0,
                functionVals = [],
                i, x, sigmas = 5, stepSize = 0.01;

            if(reportDiv.innerHTML == '-')
                reportDiv.innerHTML = '';

            //calculate peak area in excess of background, for <sigmas> up and down.
            for(i=0; i<2*sigmas*width/stepSize; i++){
                x = center - sigmas*width + i*stepSize
                functionVals.push( gauss(amplitude, center, width, x)*stepSize )
                integral = functionVals.integrate()
            }

            reportDiv.innerHTML += 'Center: ' + center.toFixed(2) + ', FWHM: ' + (2.35482*width).toFixed(2) + ', Area: ' + integral.toFixed(2) + '<br>';

            this.toggleFitMode()
            dataStore.viewers[target].leaveFitMode();
        }

    }

</script>