<template id='fitRow'>
  <td class='spectrumNames'>
      <span class='spectrumName'>{{spectrum}}</span>
      <div style='background-color:{{color}}' class='swatch'></div>
  </td>
  <td class='center uiCol'>
      <input id='{{target}}{{spectrum}}Radio' type='radio' checked name='{{target}}fitTarget' class='{{target}}-fit-target' spectrum='{{spectrum}}'></input>
  </td>
  <td id='{{target}}{{spectrum}}FitResult'>-</td>
  <td class='uiCol center'>
      <button type="button" class="btn btn-default dropFitRow" id='dropFit{{target}}{{spectrum}}' target='{{target}}' spectrum='{{spectrum}}'>
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      </button>
  </td> 
  <td class='uiCol center'>
      <button type="button" class="btn btn-default zeroRow" id='zero{{target}}{{spectrum}}' target='{{target}}' spectrum='{{spectrum}}'>
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      </button>
  </td>    
  <td class='uiCol center'>
      <button type="button" class="btn btn-default deleteRow" id='delete{{target}}{{spectrum}}' target='{{target}}' spectrum='{{spectrum}}'>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
  </td>
</template>
