<link rel="stylesheet" href="analyzer-viewer.css">
<script src='analyzer-viewer.js' type="text/javascript"></script>

<template id='analyzer-viewer'>
	
    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Viewer-Viewer'>
            <h2>Analyzer Spectrum Viewer</h2>
	  <div id='Viewer'>

	    <div id="HistoFilesTableContainerDiv">
	      <div class='container-fluid'>
	        <div class='col-md-2'><h5>Histogram File Directory:</h5></div>
	        <div class='col-md-4' id='HistoDirectoryInputDiv'></div>
	      </div>
	      <div id='AnalyzerViewerDiv'>Here it is</div>
	      <table id="HistoFilesTable"></table>
	    </div>
	  </div>
        </div>
    </div>

</template>

<script>
    function setupAnalyzerViewer(wrapperID){
        document.getElementById(wrapperID).innerHTML = "";
        document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-viewer'], {});

    // Refresh the list of histogram files from the server
    getHistoFileListFromServer();

    // Create the text input for the Histogram file directory
    newInput = document.createElement('input'); 
    newInput.id = 'HistoDirectoryInput'; 
    newInput.type = 'text'; 
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.histoFileDirectoryPath; 
    newInput.onchange = function(){
    dataStore.histoFileDirectoryPath = this.value;
    getHistoFileListFromServer();
    thisTimeout = setTimeout(buildHistosFileTable, 200);
    }.bind(newInput);
    document.getElementById('HistoDirectoryInputDiv').appendChild(newInput);
    
    // Set up the content of this sub page
    setupViewerContent();

    }
</script>