<link rel="stylesheet" href="analyzer-viewer.css">

<template id='analyzer-viewer'>
	
    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Viewer-Viewer'>
            <h2>Analyzer Spectrum Viewer</h2>
	  <div id='Viewer'>

	    <div id="HistoFilesTableContainerDiv">
	    <div class='container-fluid'>
	      <div class='row'>
	        <div class='col-md-2'><h5>Histogram File Directory:</h5></div>
	        <div class='col-md-4' id='HistoDirectoryInputDivViewer'></div>
	        <div class='col-md-2' id='HistoDirectoryRefreshDivViewer'></div>
		  </div>
	      <div class='row'>
	        <div class='col-md-2'><h5>Filename for Summed Histogram file:</h5></div>
	        <div class='col-md-4' id='HistoSumFilenameInputDiv'></div>
		  </div>
	      </div>
	      <div id='AnalyzerViewerDiv'>Here it is</div>
	      <div id='submitDivSum'></div>
	      <table id="HistoFilesTable" class='analyzer-table-selectable'></table>
	    </div>
	  </div>
        </div>
    </div>

<div id="alertSumModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>Please select at least two histogram files to sum together.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
<div id="viewConfigModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="viewConfigModalTitle">Configuration</h4>
      </div>
      <div class="modal-body">
        <div id="viewConfigModalContent"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
<button type='button' class='btn invisible' id='alertSumModalButton' data-toggle='modal' data-target='#alertSumModal'>Info</button>
<button type='button' class='btn invisible' id='viewConfigModalButton' data-toggle='modal' data-target='#viewConfigModal'>View Config</button>

</template>

<script>
    function setupAnalyzerViewer(wrapperID){
        document.getElementById(wrapperID).innerHTML = "";
        document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-viewer'], {});

    // Create the text input for the Histogram file directory
    newInput = document.createElement('input'); 
    newInput.id = 'HistoDirectoryInputViewer'; 
    newInput.type = 'text'; 
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.histoFileDirectoryPath; 
    newInput.onchange = function(){
       dataStore.histoFileDirectoryPath = this.value; 
       document.getElementById('HistoDirectoryInputSorting').value = this.value;
       getHistoFileListFromServer();

}.bind(newInput);
    document.getElementById('HistoDirectoryInputDivViewer').appendChild(newInput);
    
    // Create the text input for the Histogram Sum filename
    newInput = document.createElement('input'); 
    newInput.id = 'HistoSumFilenameInput'; 
    newInput.type = 'text'; 
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.histoSumFilename; 
    newInput.onchange = function(){
    dataStore.histoSumFilename = this.value;
    }.bind(newInput);
    document.getElementById('HistoSumFilenameInputDiv').appendChild(newInput);
    
    // Create Submit button for summing histograms
    newButton = document.createElement('button'); 
    newButton.setAttribute('id', 'submitSumHistosButton'); 
    newButton.setAttribute('class', 'btn btn-default btn-lg'); 
    newButton.innerHTML = "Sum selected Histogram files together";
    newButton.style.padding = '4px';
    newButton.onclick = function(){
    submitHistoFileSumRequestToServer();
    }.bind(newButton);
    document.getElementById('submitDivSum').appendChild(newButton);

    // Create Refresh button for fetching histograms list
    newButton = document.createElement('button'); 
    newButton.setAttribute('id', 'refreshHistosListButton'); 
    newButton.setAttribute('class', 'btn btn-default btn-lg'); 
    newButton.innerHTML = "Refresh Histogram list";
    newButton.style.padding = '4px';
    newButton.onclick = function(){
       getHistoFileListFromServer();
    }.bind(newButton);
    document.getElementById('HistoDirectoryRefreshDivViewer').appendChild(newButton);

    // set up event listeners
    listener(wrapperID, 'requestViewerRefresh', setupViewerContent);

    // Set up the content of this sub page
    setupViewerContent();

    }
</script>