<link rel="stylesheet" href="auxYieldControl.css"/>

<template id='auxYieldControl'>

    <div class='btn-group' roll='group'>
        <button class="btn btn-default active" id="decayTab" type="button">Decay Spectra</button>
        <button class="btn btn-default" id="gammaTab" type="button">Gamma Ray Spectra</button>
    </div>  

    <div id='componentTableWrapper' class='sectionWrapper'>
        <h4>Run Parameters</h4>
        <div id='runParameters' class='flex'>
            <div class='col-md-4'>
                <label>Implantation period:</label>
                <input id='implantation' type='number' value=1></input>
                <select id='implantationUnit'>
                    <option value=1>ms</option>
                    <option value=1000>s</option>
                    <option value=60000>min</option>
                </select>
            </div>
            <div class='col-md-4'>
                <label>Decay period:</label>
                <input id='decay' type='number' value=1></input>
                <select id='decayUnit'>
                    <option value=1>ms</option>
                    <option value=1000>s</option>
                    <option value=60000>min</option>
                </select>
            </div>
            <div class='col-md-4'>
                <label>Number of cycles counted:</label>
                <input id='nCycles' type='number' value=1></input>
            </div>
        </div>

        <hr></hr>

        <div id='decayTableWrapper'>
            <h4>Components</h4>

            <table id='componentTable' class="table">
                <tr>
                    <td>Species</td>
                    <td>Lifetime</td>
                    <td>Amplitude</td>
                    <td>Efficiency</td>
                    <td>BR</td>
                    <td>Yield</td>
                    <td class='center'>Delete</td>
                </tr>
            </table>

            <button id='new-component' class='btn btn-default'>Add New Component</button>

            <h4>Background</h4>

            <label>Background counts / bin:</label>
            <input id='background-counts' type='number' step='any' value=1></input>

            <hr></hr>

            <h4>Histogram & Fitting Parameters</h4>
            <div class='flex'>
                <div class='col-md-4'>
                    <label>Histogram calibration: </label>
                    <input id='calibration' type='number' value=1></input>
                    <select id='calibrationUnit'>
                        <option value=1>ns</option>
                        <option value=1000>us</option>
                        <option value=1000000>ms</option>
                        <option value=1000000000>s</option>
                    </select>
                    <label>/bin</label>
                </div>
                <div class='col-md-8'>
                    <label>Fit range (bins):</label>
                    <label>Min: </label>
                    <input type='number' id='decayMinBin' step='1'></input>
                    <label>Max: </label>
                    <input type='number' id='decayMaxBin' step='1'></input>
                </div>
            </div>

            <button id='fit-decay' class='btn btn-info top-gutter' onclick='fitDecay()'>Fit Decay Spectrum</button>
        </div>

        <div id='gammaTableWrapper' class='hidden'>
            <h4>Gamma Rays</h4>

            <table id='gammaTable' class="table">
                <tr>
                    <td>Species</td>
                    <td>Min. Bin</td>
                    <td>Max. Bin</td>
                    <td>Efficiency</td>
                    <td>BR</td>
                    <td>Yield</td>
                    <td class='center'>Delete</td>
                </tr>
            </table>

            <button id='new-gamma' class='btn btn-default'>Add New Gamma</button>

            <hr></hr>

            <button id='fit-peaks' class='btn btn-info top-gutter' onclick='fitPeaks()'>Fit Gamma Spectrum</button>
        </div>
    </div>
</template>

<script>

    function auxYieldControl(wrapID){

        this.wrapID = wrapID;
        this.wrap = document.getElementById(wrapID);

        this.setup = function(){
            this.wrap.innerHTML =  Mustache.to_html(
                dataStore.templates.auxYieldControl, 
                {

                }
            );

            // set up custom listeners
            listener(this.wrapID, 'addPlotRow', this.refreshTable.bind(this));

            // plug in UI
            document.getElementById('new-component').onclick = this.newTableRow.bind(this, 'component');
            document.getElementById('new-gamma').onclick = this.newTableRow.bind(this, 'gamma');

            document.getElementById('decayTab').onclick = this.swapTab.bind(this, 'decay');
            document.getElementById('gammaTab').onclick = this.swapTab.bind(this, 'gamma');

            // plug in fit limit redraw for decay mode
            document.getElementById('decayMinBin').onchange = this.drawFitBounds.bind(this, 'decay');
            document.getElementById('decayMaxBin').onchange = this.drawFitBounds.bind(this, 'decay');

            // start with one row in each table
            this.newTableRow('gamma');
            this.newTableRow('component')

        }

        this.swapTab = function(target){
            // swap into the named tab

            var other = target == 'gamma' ? 'decay' : 'gamma';

            document.getElementById(target + 'Tab').classList.add('active');
            document.getElementById(other + 'Tab').classList.remove('active');
            document.getElementById(target + 'TableWrapper').classList.remove('hidden');
            document.getElementById(other + 'TableWrapper').classList.add('hidden');

            this.drawFitBounds(target);
        }

        this.drawFitBounds = function(target){
            //draw the appropriate set of fit bounds for the current display

            var viewer = dataStore.viewers[dataStore.plots[0]],
                gammaMin = document.getElementsByClassName('gamma-min'),
                gammaMax = document.getElementsByClassName('gamma-max'),
                i, min, max;

            //drop old lines
            viewer.verticals = {};

            if(target == 'decay'){
                viewer.addVertical('decayMinBin', parseInt(document.getElementById('decayMinBin').value,10), '#FF0000');
                viewer.addVertical('decayMaxBin', parseInt(document.getElementById('decayMaxBin').value,10), '#FF0000');
            } else if(target == 'gamma'){
                for(i=0; i<gammaMin.length; i++){
                    min = parseInt(gammaMin[i].value,10);
                    max = parseInt(gammaMax[i].value,10);
                    viewer.addVertical(min+'-min', min, '#FF0000');
                    viewer.addVertical(min+'-max', max, '#FF0000');
                }
            }

            viewer.plotData();

        }

        this.refreshTable = function(event){

            var min = document.getElementById('decayMinBin'),
                max = document.getElementById('decayMaxBin');

            min.value = dataStore.viewers[dataStore.plots[0]].XaxisLimitMin;
            max.value = dataStore.viewers[dataStore.plots[0]].XaxisLimitMax

            min.onchange();
            max.onchange();
        }

        this.newTableRow = function(type, event){
            // add a new component to the table
            // type == 'component' or 'gamma'

            var row = document.createElement('tr'),
                template = type == 'gamma' ? dataStore.templates.gammaFitRow : dataStore.templates.fitRow

            row.innerHTML = Mustache.to_html(
                template, 
                {
                    index: dataStore.componentIndex
                }
            );
            row.setAttribute('id', type+'Row'+dataStore.componentIndex);
            document.getElementById(type+'Table').appendChild(row);

            // plug in fit limit redraw for new gamma row
            if(type == 'gamma'){
                document.getElementById('min'+dataStore.componentIndex).onchange = this.drawFitBounds.bind(this, 'gamma');
                document.getElementById('max'+dataStore.componentIndex).onchange = this.drawFitBounds.bind(this, 'gamma');
            }

            // plug in delete button
            document.getElementById('delete' + dataStore.componentIndex).onclick = this.deleteRow.bind(this, type, dataStore.componentIndex);

            dataStore.componentIndex++;
        }

        this.deleteRow = function(type, index){
            // remove the indexed component row

            deleteNode(type+'Row'+index);
        }
    }

</script>