<template id='auxYieldControl'>
    {{> auxYieldControlTable}}
</template>

<script>

    function auxYieldControl(wrapperID){

        this.wrapID = wrapperID;
        this.wrap = document.getElementById(wrapperID);

        this.setup = function(){
            this.wrap.innerHTML = Mustache.to_html(
                dataStore.templates.auxYieldControl, 
                {
                    'plots': dataStore.plots[0]
                },
                {
                    'auxYieldControlTable': dataStore.templates.auxYieldControlTable
                }
            );

            //listen for new table rows requests
            this.wrap.addEventListener('addPlotRow', this.newTable.bind(this), false); // this custom event naming is banans, refactor

        }

        this.newTable = function(event){
            console.log('new table')
        }

        this.newTableRow = function(event){
            console.log('new table row')
        }

        this.deleteTable = function(event){
            console.log('delete table')
        }
    }

</script>