<link rel="stylesheet" href="analyzer-sorting.css">

<template id='analyzer-sorting'>

    <div class='section-wrapper'>
      <div class='col-md-12 pan' id='Sorting-Online'>
	      <h2>Connect to a MIDAS DAQ</h2>
        <div id='submitDivOnline'></div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Sorting-Jobs-Queue'>
            <h2>Current Job Queue</h2>
            <div id='JobsQueue'>The queue is currently empty. Submit files from the list below to sort them.</div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Sorting-Job-Submit'>
            <h2>Sort MIDAS files</h2>
	<div id='JobSubmit'>
	  <div class='container-fluid'>
	      <div class='col-md-2'><h5>MIDAS Data File Directory:</h5></div>
	      <div class='col-md-4' id='DataDirectoryInputDiv'></div>
	      <div class='col-md-2'><h5>Configuration File Directory:</h5></div>
	      <div class='col-md-4' id='ConfigDirectoryInputDiv'></div>
	    </div>
	  <div class='container-fluid'>
	      <div class='col-md-2'><h5>Histogram File Directory:</h5></div>
	      <div class='col-md-4' id='HistoDirectoryInputDivSorting'></div>
	      <div class='col-md-2'><h5>Source of calibration coefficients:</h5></div>
	      <div class='col-md-4' id='CalibrationSourceInputDiv'></div>
	    </div>
            <div id='submitDivTable'></div>
	      <h4>Select the MIDAS files to sort (Shift-click to select multiple at once), then press the button to submit them to the sort queue:</h4>
	    <div id="MidFilesTableContainerDiv">
	      <table id="MidFilesTable" class='analyzer-table-selectable'></table>
	    </div>
	  </div>
        </div>
    </div>

</template>

<script>
    function setupAnalyzerSorting(wrapperID){
        document.getElementById(wrapperID).innerHTML = "";
        document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-sorting'], {});

    // Create the text input for the midas data file directory
    newInput = document.createElement('input');
    newInput.id = 'DataDirectoryInput';
    newInput.type = 'text';
    newInput.className = 'analyzer-input-text';
    newInput.value = dataStore.midasFileDataDirectoryPath;
    newInput.onchange = function(){
    dataStore.midasFileDataDirectoryPath = this.value;
    getMidasFileListFromServer();
    }.bind(newInput);
    document.getElementById('DataDirectoryInputDiv').appendChild(newInput);

    // Create the text input for the Config file directory
    newInput = document.createElement('input');
    newInput.id = 'ConfigDirectoryInput';
    newInput.type = 'text';
    newInput.className = 'analyzer-input-text';
    newInput.value = dataStore.configFileDataDirectoryPath;
    newInput.onchange = function(){
    dataStore.configFileDataDirectoryPath = this.value;
    }.bind(newInput);
    document.getElementById('ConfigDirectoryInputDiv').appendChild(newInput);

    // Create the text input for the Histogram file directory
    newInput = document.createElement('input');
    newInput.id = 'HistoDirectoryInputSorting';
    newInput.type = 'text';
    newInput.className = 'analyzer-input-text';
    newInput.value = dataStore.histoFileDirectoryPath;
    newInput.onchange = function(){
    dataStore.histoFileDirectoryPath = this.value;
    document.getElementById('HistoDirectoryInputViewer').value = this.value;

    getHistoFileListFromServer();
    /*
const thisPromise = new Promise((resolve, reject) => {
    getHistoFileListFromServer()
}).then(
 	 dispatcher({}, 'requestSortingRefresh'),
 	 dispatcher({}, 'requestViewerRefresh')
                               );
*/

    }.bind(newInput);
    document.getElementById('HistoDirectoryInputDivSorting').appendChild(newInput);

    // Create a select input for the source of calibration coefficients
    var newSelect = document.createElement("select");
    newSelect.id = 'CalibrationSourceSelect';
    newSelect.name = 'CalibrationSourceSelect';
    newSelect.className = 'analyzer-input-select';
    newSelect.onchange = function(){
    dataStore.CalibrationSource = this.value;
    }.bind(newSelect);
    newSelect.add( new Option('ODB values stored in midas file', 'midas') );
    newSelect.add( new Option('New values in current config file', 'config') );
    document.getElementById('CalibrationSourceInputDiv').appendChild(newSelect);

    // Create Submit files button
    newButton = document.createElement('button');
    newButton.setAttribute('id', 'submitSortButtonTable');
    newButton.setAttribute('class', 'btn btn-default btn-md');
    newButton.innerHTML = "Submit selected files to the sorting queue";
    newButton.style.padding = '4px';
    newButton.onclick = function(){
    SubmitSelectedFilesFromTableToSortQueue();
    }.bind(newButton);
      document.getElementById('submitDivTable').appendChild(newButton);

			    // Create Connect to Online button
			    newButton = document.createElement('button');
			    newButton.setAttribute('id', 'submitConnectOnlineButtonGrsmid00');
			    newButton.setAttribute('class', 'btn btn-default btn-md');
			    newButton.innerHTML = "Connect to online MIDAS grsmid00";
			    newButton.style.padding = '4px';
			    newButton.onclick = function(){
			    SubmitConnectToOnline('grsmid00');
			    }.bind(newButton);
			      document.getElementById('submitDivOnline').appendChild(newButton);

						    // Create Connect to Online button
						    newButton = document.createElement('button');
						    newButton.setAttribute('id', 'submitConnectOnlineButtonGrifstore1');
						    newButton.setAttribute('class', 'btn btn-default btn-md');
						    newButton.innerHTML = "Connect to online MIDAS grifstore1";
						    newButton.style.padding = '4px';
						    newButton.onclick = function(){
						    SubmitConnectToOnline('grifstore1');
						    }.bind(newButton);
						      document.getElementById('submitDivOnline').appendChild(newButton);

    // set up event listeners
    listener(wrapperID, 'requestSortingRefresh', setupSortingContent);

    // Set up the content of this sub page
    setupSortingContent()
}

</script>
