<link rel="stylesheet" href="analyzer-sorting.css">
<script src='analyzer-sorting.js' type="text/javascript"></script>

<template id='analyzer-sorting'>
	
    <div class='section-wrapper'>
      <div class='col-md-12 pan' id='Sorting-Status'>
	<h2>Sorting Status</h2>
    <div class="progress">
      <div id='progress' class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Analyzer is idle, ready for files to be submitted.</div>
    </div>
	<div class='h4' id='SortingStatus'></div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Sorting-Jobs-Queue'>
            <h2>Current Job Queue</h2>
            <div id='JobsQueue'>The queue is currently empty. Submit files from the list below to sort them.</div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Sorting-Job-Submit'>
            <h2>Sorting Job Submission</h2>
	<div id='JobSubmit'>
	  <div class='container-fluid'>
	      <div class='col-md-2'><h5>MIDAS Data File Directory:</h5></div>
	      <div class='col-md-4' id='DataDirectoryInputDiv'></div>
	      <div class='col-md-2'><h5>Configuration File Directory:</h5></div>
	      <div class='col-md-4' id='ConfigDirectoryInputDiv'></div>
	    </div>
            <div id='submitDivTable'></div>
	      <h4>Select the MIDAS files to sort, then press the button to submit them to the sort queue:</h4>
	    <div id="MidFilesTableContainerDiv">
	      <table id="MidFilesTable"></table>
	    </div>
	  </div>
        </div>
    </div>

</template>

<script>
    function setupAnalyzerSorting(wrapperID){
        document.getElementById(wrapperID).innerHTML = "";
        document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-sorting'], {});

    // Get the initial list of MIDAS files
    getMidasFileListFromServer();
    
    // initiate heartbeat for the Sort Status
    initiateSortStatusHeartbeat();

    // Get the initial list of Histogram files
    getHistoFileListFromServer();
    
    // Create the text input for the midas data file directory
    newInput = document.createElement('input'); 
    newInput.id = 'DataDirectoryInput'; 
    newInput.type = 'text'; 
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.midasFileDataDirectoryPath; 
    newInput.onchange = function(){
    dataStore.midasFileDataDirectoryPath = this.value;
    }.bind(newInput);
    document.getElementById('DataDirectoryInputDiv').appendChild(newInput);
    
    // Create the text input for the Config file directory
    newInput = document.createElement('input'); 
    newInput.id = 'ConfigDirectoryInput'; 
    newInput.type = 'text';
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.configFileDataDirectoryPath; 
    newInput.onchange = function(){
    dataStore.configFileDataDirectoryPath = this.value;
    }.bind(newInput);
    document.getElementById('ConfigDirectoryInputDiv').appendChild(newInput);
    
    // Create Submit button
    newButton = document.createElement('button'); 
    newButton.setAttribute('id', 'submitSortButtonTable'); 
    newButton.setAttribute('class', 'btn btn-default btn-lg'); 
    newButton.innerHTML = "Submit selected files to the sorting queue";
    newButton.style.padding = '4px';
    newButton.onclick = function(){
    SubmitSelectedFilesFromTableToSortQueue();
    }.bind(newButton);
    document.getElementById('submitDivTable').appendChild(newButton);

}

</script>