<link rel="stylesheet" href="analyzer-sorting.css">

<template id='analyzer-sorting'>
	
    <div class='section-wrapper'>
      <div class='col-md-12 pan' id='Sorting-Status'>
	<h2>Sorting Status</h2>
        <div class='col-md-6'>
    <div class="progress">
      <div id='progress' class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Analyzer is idle, ready for files to be submitted.</div>
    </div>
    </div>
	<div class='col-md-6' id='SortingStatus'></div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Sorting-Jobs-Queue'>
            <h2>Current Job Queue</h2>
            <div id='JobsQueue'>The queue is currently empty. Submit files from the list below to sort them.</div>
        </div>
    </div>

    <div class='section-wrapper'>
        <div class='col-md-12 pan' id='Sorting-Job-Submit'>
            <h2>Sorting Job Submission</h2>
	<div id='JobSubmit'>
	  <div class='container-fluid'>
	      <div class='col-md-2'><h5>MIDAS Data File Directory:</h5></div>
	      <div class='col-md-4' id='DataDirectoryInputDiv'></div>
	      <div class='col-md-2'><h5>Configuration File Directory:</h5></div>
	      <div class='col-md-4' id='ConfigDirectoryInputDiv'></div>
	    </div>
	  <div class='container-fluid'>
	      <div class='col-md-2'><h5>Histogram File Directory:</h5></div>
	      <div class='col-md-4' id='HistoDirectoryInputDivSorting'></div>
	      <div class='col-md-2'><h5>Source of calibration coefficients:</h5></div>
	      <div class='col-md-4' id='CalibrationSourceInputDiv'></div>
	    </div>
            <div id='submitDivTable'></div>
	      <h4>Select the MIDAS files to sort (Shift-click to select multiple at once), then press the button to submit them to the sort queue:</h4>
	    <div id="MidFilesTableContainerDiv">
	      <table id="MidFilesTable" class='analyzer-table-selectable'></table>
	    </div>
	  </div>
        </div>
    </div>

</template>

<script>
    function setupAnalyzerSorting(wrapperID){
        document.getElementById(wrapperID).innerHTML = "";
        document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-sorting'], {});

    // Create the text input for the midas data file directory
    newInput = document.createElement('input'); 
    newInput.id = 'DataDirectoryInput'; 
    newInput.type = 'text'; 
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.midasFileDataDirectoryPath; 
    newInput.onchange = function(){
    dataStore.midasFileDataDirectoryPath = this.value; 

    getMidasFileListFromServer();
    /*
    const thisPromise = new Promise((resolve, reject) => {
    getMidasFileListFromServer()
}).then(
 	 dispatcher({}, 'requestSortingRefresh'), 
         getMidasFileDetailsFromServer()
                               );
*/
    
    }.bind(newInput);
    document.getElementById('DataDirectoryInputDiv').appendChild(newInput);
    
    // Create the text input for the Config file directory
    newInput = document.createElement('input'); 
    newInput.id = 'ConfigDirectoryInput'; 
    newInput.type = 'text';
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.configFileDataDirectoryPath; 
    newInput.onchange = function(){
    dataStore.configFileDataDirectoryPath = this.value;
    }.bind(newInput);
    document.getElementById('ConfigDirectoryInputDiv').appendChild(newInput);
    
    // Create the text input for the Histogram file directory
    newInput = document.createElement('input'); 
    newInput.id = 'HistoDirectoryInputSorting'; 
    newInput.type = 'text'; 
    newInput.className = 'analyzer-input-text'; 
    newInput.value = dataStore.histoFileDirectoryPath; 
    newInput.onchange = function(){
    dataStore.histoFileDirectoryPath = this.value;
    document.getElementById('HistoDirectoryInputViewer').value = this.value;
    
    getHistoFileListFromServer();
    /*
const thisPromise = new Promise((resolve, reject) => {
    getHistoFileListFromServer()
}).then(
 	 dispatcher({}, 'requestSortingRefresh'),
 	 dispatcher({}, 'requestViewerRefresh')
                               );
*/

    }.bind(newInput);
    document.getElementById('HistoDirectoryInputDivSorting').appendChild(newInput);
    
    // Create a select input for the source of calibration coefficients
    var newSelect = document.createElement("select");
    newSelect.id = 'CalibrationSourceSelect';
    newSelect.name = 'CalibrationSourceSelect'; 
    newSelect.className = 'analyzer-input-select'; 
    newSelect.onchange = function(){
    dataStore.CalibrationSource = this.value;
    }.bind(newSelect); 
    newSelect.add( new Option('ODB values stored in midas file', 'midas') ); 
    newSelect.add( new Option('New values in current config file', 'config') );
    document.getElementById('CalibrationSourceInputDiv').appendChild(newSelect);

    // Create Submit files button
    newButton = document.createElement('button'); 
    newButton.setAttribute('id', 'submitSortButtonTable'); 
    newButton.setAttribute('class', 'btn btn-default btn-lg'); 
    newButton.innerHTML = "Submit selected files to the sorting queue";
    newButton.style.padding = '4px';
    newButton.onclick = function(){
    SubmitSelectedFilesFromTableToSortQueue();
    }.bind(newButton);
      document.getElementById('submitDivTable').appendChild(newButton);

    // Create Connect to Online button
    newButton = document.createElement('button'); 
    newButton.setAttribute('id', 'submitConnectOnlineButton'); 
    newButton.setAttribute('class', 'btn btn-default btn-lg'); 
    newButton.innerHTML = "Connect to online MIDAS experiment";
    newButton.style.padding = '4px';
    newButton.onclick = function(){
    SubmitConnectToOnline();
    }.bind(newButton);
      document.getElementById('submitDivTable').appendChild(newButton);

    // set up event listeners
    listener(wrapperID, 'requestSortingRefresh', setupSortingContent);

    // Set up the content of this sub page
    setupSortingContent()
}

</script>