<script src='plotControl.js' type="text/javascript"></script>

<template id='plotControlVertical'>
    <button class="btn btn-info" data-trigger="hover" data-html="true" data-toggle="tooltip" title="Zoom: Click and drag or single-click on either side of the window to zoom to. <br><br> Unzoom: Double-click. <br><br> Axis control and new data will affect any plot with its 'Active Window' checkbox set; hold shift while clicking checkbox to activate multiple windows simultaneously. <br><br> Add a new plot: click the '+' below the existing plots." data-placement="auto left" data-container="body">Plotting Help</button>

    <form id="{{id}}PlotControl">

        <div class='UIgroup'>
            <span id='{{id}}cursorReport'>Cursor x: - y: -</span>
        </div>

        <div class='UIgroup'>
            <h4>X-axis Control</h4> 

            <div class="input-group">
                <span class="input-group-addon">min x</span>
                <input id="{{id}}minX" value="0" type="number"></input>
            </div>

            <div class="input-group">
                <span class="input-group-addon">max x</span>
                <input id="{{id}}maxX" value="2048" type="number"></input>
            </div>

            <div class="input-group">
                <span class="input-group-addon">Scroll</span>
                <div class='btn-group' roll='group'>
                    <button class="btn btn-default" id="{{id}}bigLeft" type="button">⇇</button>
                    <button class="btn btn-default" id="{{id}}littleLeft" type="button">←</button>
                    <button class="btn btn-default" id="{{id}}littleRight" type="button">→</button>
                    <button class="btn btn-default" id="{{id}}bigRight" type="button">⇉</button>
                </div>                
            </div>

            <div class="input-group">
                <span class="input-group-addon">History</span>
                <div class='btn-group btn-group-sm' roll='group'>
                    <button class="btn btn-default" id="{{id}}prev" type="button">Prev.</button>
                    <button class="btn btn-default" id="{{id}}next" type="button">Next</button>
                </div>            
            </div>

            <div class='UIchunk btn-group btn-group-sm' roll='group'>
                <button class="btn btn-default" id="{{id}}unzoom" type="button">Unzoom</button>
                {{# waveformSnap}}
                    <button class="btn btn-default" id="{{id}}snapWaveform" type="button">Snap To Wvfrm.</button>
                {{/ waveformSnap}}
            </div>
        </div>

        <div class='UIgroup'>
            <h4>Y-axis Control</h4> 

            <div id="{{id}}logToggleWrap"  class='UIchunk btn-group btn-group-sm' roll='group'>
                <button id='{{id}}linearY'class="btn btn-default" type="button">Set Lin</button>
                <button id='{{id}}logY'class="btn btn-default" type="button">Set Log</button>
            </div>

        </div>    

        {{# doUpdates}}
            <div id='{{id}}updateWrap' class='UIgroup'>
                <h4>Data Fetching</h4>
                <div class="input-group">
                    <span class="input-group-addon">Update Every:</span>
                    <select id="{{id}}upOptions" class='form-control'>
                        <option value="3000">3 s</option>
                        <option value="5000">5 s</option>
                        <option value="10000" selected="selected">10 s</option>
                        <option value="-1">never</option>
                    </select>        
                </div>

                <button id="{{id}}upNow" class="btn btn-default" type="button">Update Now</button>
            </div>
        {{/ doUpdates}}

    </form>
</template>