<link rel="stylesheet" href="angularCorrelationsReport.css">

<template id='angularCorrelationsReport'>
<div id='dataTableMessage' class='col-md-12'></div>
<div class='sectionWrapper item'>
<div class='col-md-12'>
<table id='{{id}}angularCorrelationsResults' class='table angularCorrelationsTable'></table>
</div>
</div>
</template>

<script>
function angularCorrelationsReport(wrapID2,wrapID3,wrapID4){

  this.wrapID2 = wrapID2;
  this.wrap2 = document.getElementById(wrapID2);

  this.wrapID3 = wrapID3;
  this.wrap3 = document.getElementById(wrapID3);

  this.wrapID4 = wrapID4;
  this.wrap4 = document.getElementById(wrapID4);

  // Variables to control table generation and filling
  this.numCellsPerRow = 14;
  this.cellHandles = ["histo","title","starttime","duration","spectrum","centroid","height","width","intercept","slope","area","areaUnc","fwhm"];
  this.cellTitles = ["Index","Histogram Filename","Run Title","Run StartTime","Run Duration","Spectrum name",
  "Centroid","Height","Width","Intercept (background)","Slope (background)","Area","Area Unc.","FWHM"];
  this.cellIndex = [0,11,12,1,2,3,4,5,6,7,8,9,10,13,14,15,16,17,18,19]; // Default selections
  this.cellIndexDefaultSelection = [0,11,12,1,2,3,4,5,6,7,8,9,10,13,14,15,16,17,18,19];
  this.textFileNumTextColumns = 2;
  this.writtenNumbers = ["Zero","One","Two","Three","Four","Five","Six","Seven","Eight","Nine","Ten","Eleven","Twelve","Thirteen","Fourteen","Fifteen","Sixteen","Seventeen","Eighteen","Nineteen","Twenty"];
  this.textFileSeparator = [" ",",","\t",":","|"];
  this.textFileSeparatorNames = ["space","comma","tab","colon","pipe"];
  this.textFileSeparatorIndex = 0;

  this.setup = function(){

    //inject templates
    this.wrap2.innerHTML = Mustache.to_html(
      dataStore.templates.angularCorrelationsReport,
      {
        'id': this.wrapID2,
      }
    );

    this.wrap3.innerHTML = Mustache.to_html(
      dataStore.templates.angularCorrelationsReport,
      {
        'id': this.wrapID3,
      }
    );

    this.wrap4.innerHTML = Mustache.to_html(
      dataStore.templates.angularCorrelationsReport,
      {
        'id': this.wrapID4,
      }
    );

    // table has to be done as a separate template, since templates and tables don't play too nice together
    document.getElementById(this.wrapID2 + 'angularCorrelationsResults').innerHTML= Mustache.to_html(
      dataStore.templates.angularCorrelationsDataReportTable,
      content = {
        'id': this.wrapID2,
        'detectors': Array(51).fill(0).map((_, i) => i + 1)
      }
    );

    // table has to be done as a separate template, since templates and tables don't play too nice together
    document.getElementById(this.wrapID3 + 'angularCorrelationsResults').innerHTML= Mustache.to_html(
      dataStore.templates.angularCorrelationsWeightsReportTable,
      content = {
        'id': this.wrapID3,
        'detectors': dataStore.THESEdetectors
      }
    );

  };

  this.updateDataTable = function(){
    console.log("updateDataTable");
    console.log(dataStore.angularBinExcludeList);
    //update the report table with whatever is currently in the dataStore
    //recall dataStore.fitResults[plotTitle] = [[amplitude, center, width, slope, intercept],[...]], for [low energy, high energy].
    //<spectrumName>: string; name of spectrum, per names from analyzer
    //this: efficiencyFitterReport object
    var tableID = "resultsDataTableRegion";

    for(var i=1; i<dataStore.angularBinData.length; i++){
      document.getElementById(tableID + i + 'index').innerHTML = (i-1);
      document.getElementById(tableID + i + 'angle').innerHTML = dataStore.theseAngularBins[i].toFixed(1);
      document.getElementById(tableID + i + 'angleATAN').innerHTML = Math.cos(dataStore.theseAngularBins[i]*(Math.PI / 180.000)).toFixed(3);
      document.getElementById(tableID + i + 'pairs').innerHTML = dataStore.numCrystalPairs[i];
      document.getElementById(tableID + i + 'weight').innerHTML = bracketNotationString(dataStore.angularBinWeight[i].toFixed(5),dataStore.angularBinWeightUnc[i].toFixed(5));
      document.getElementById(tableID + i + 'rawData').innerHTML = bracketNotationString(parseInt(dataStore.angularBinRawPeakArea[i]),parseInt(dataStore.angularBinRawPeakAreaUnc[i]));
      document.getElementById(tableID + i + 'rawBkg').innerHTML = bracketNotationString(parseInt(dataStore.angularBinTRBGPeakArea[i]),parseInt(dataStore.angularBinTRBGPeakAreaUnc[i]));
      document.getElementById(tableID + i + 'area').innerHTML = bracketNotationString(parseInt(dataStore.angularBinPeakArea[i]),parseInt(dataStore.angularBinPeakAreaUnc[i]));
      document.getElementById(tableID + i + 'value').innerHTML = bracketNotationString(dataStore.angularBinData[i].toFixed(4),dataStore.angularBinDataUnc[i].toFixed(4));
      var checkParent = document.getElementById(tableID + i + 'exclude');
      checkParent.innerHTML = "";
      newInput = document.createElement('input');
      newInput.id = + 'excludeBin'+i;
      newInput.type = 'checkbox';
      newInput.value = i;
      newInput.onchange = function(){
        toggleExcludeList(this.value);
      }.bind(newInput);
      if(dataStore.angularBinExcludeList.includes(i)){ newInput.checked = true; }
      checkParent.appendChild(newInput);
    }

    //highlight suspicious rows
    //  this.whatsNormal();
    //this.highlightOutliers();

  };

  this.updateWeightTable = function(){
    console.log("updateWeightTable");
    //update the report table with whatever is currently in the dataStore
    //recall dataStore.fitResults[plotTitle] = [[amplitude, center, width, slope, intercept],[...]], for [low energy, high energy].
    //<spectrumName>: string; name of spectrum, per names from analyzer
    //this: efficiencyFitterReport object
    var tableID = "resultsWeightTableRegion";

    for(var i=0; i<dataStore.THESEdetectors.length; i++){
      document.getElementById(tableID + dataStore.THESEdetectors[i] + 'id').innerHTML = i;
      document.getElementById(tableID + dataStore.THESEdetectors[i] + 'energy1').innerHTML = dataStore.fitPeakEnergies[1];
      document.getElementById(tableID + dataStore.THESEdetectors[i] + 'area1').innerHTML = bracketNotationString(dataStore.singlesPeakArea[i][1],parseInt(dataStore.singlesPeakAreaUnc[i][1]));
      document.getElementById(tableID + dataStore.THESEdetectors[i] + 'energy2').innerHTML = dataStore.fitPeakEnergies[0];
      document.getElementById(tableID + dataStore.THESEdetectors[i] + 'area2').innerHTML = bracketNotationString(dataStore.singlesPeakArea[i][0],parseInt(dataStore.singlesPeakAreaUnc[i][0]));
    }

    //highlight suspicious rows
    //  this.whatsNormal();
    //this.highlightOutliers();

  };

  this.refreshAngCorrPlot = function(){
    console.log("refreshAngCorrPlot");
    console.log(dataStore.angularBinExcludeList);
    // Use a Plotly stacked-subplots-with-a-shared-x-axis for Ang Corr data with residuals below.
    // https://plotly.com/javascript/subplots/#stacked-subplots-with-a-shared-x-axis

    var parentDiv = "angularCorrelationsDataPlot";
    var data = []; // data is an array of objects required for a plotly scatter plot
    var xSeries = [];    // Ang Corr Data plot xSeries is cos(theta) - same for residuals axis
    var yDataSeries = [];   // Ang Corr Data plot ySeries is Ang Corr values
    var yResSeries = [];    // Ang Corr Residuals plot ySeries is Ang Corr residuals
    var yErrSeries = [[],[]];
    var config =  // configuration options for plotly
    {
      scrollZoom: true,
      modeBarButtonsToRemove: ['sendDataToCloud','select2d','lasso2d']
    };

    // Define the data for each series
    for(var i=0; i<dataStore.angularBinData.length; i++){
      if(isFinite(dataStore.theseAngularBins[i]) && isFinite(dataStore.angularBinData[i]) && dataStore.angularBinData[i]>0 && !dataStore.angularBinExcludeList.includes(i) ){
        xSeries.push(Math.cos(dataStore.theseAngularBins[i]*(Math.PI / 180.000)));
        yDataSeries.push(dataStore.angularBinData[i]);
        yResSeries.push(dataStore.angularBinDataResiduals[i]);
        yErrSeries[0].push(dataStore.angularBinDataUnc[i]);
        yErrSeries[1].push(dataStore.angularBinDataUnc[i]);
      }
    }

    data[0] = {
      x: xSeries,
      y: yResSeries,
      xaxis: 'x1',
      yaxis: 'y1',
      name: 'Residuals',
      mode: 'markers',
      type: 'scatter',
      error_y : {
        type: 'data',
        array: yErrSeries[0],
        visible: true
      }
    };
    data[2] = {
      x: xSeries,
      y: yDataSeries,
      xaxis: 'x2',
      yaxis: 'y2',
      name: 'Angular Correlation Data',
      mode: 'markers',
      type: 'scatter',
      error_y : {
        type: 'data',
        array: yErrSeries[1],
        visible: true
      }
    };
    data[1] = {
      x: dataStore.theseAngularBinsRadians,
      y: dataStore.displayLineData,
      xaxis: 'x2',
      yaxis: 'y2',
      name: dataStore.displayLineName,
      mode: 'line'
    };

    // Define the layout for this plotly
    var layout = {
      autosize: true,
      width: 700,                                // Default is 700px
      height: 450,                                // Default is 450px
      title: "Gamma-gamma angular correlation",
      xaxis:  {domain: [0, 1],       anchor: 'y1', title: "cos(\u03B8)", showline: false, zeroline: false, range: [-1.1,1.1]},
      yaxis:  {domain: [0, 0.25],    anchor: 'x1', title: "Residual", showline: false, zeroline: false},
      xaxis2: {domain: [0, 1],    anchor: 'y2', showticklabels: false, showline: false, zeroline: false, range: [-1.1,1.1]},
      yaxis2: {domain: [0.3, 1],    anchor: 'x2', title: "Normalized counts", showline: false, zeroline: false},
      legend: {traceorder: 'reversed'},
      annotations: [{ // Chi-square answer on the plot for the line shown
        text: dataStore.displayLineTitle,
        font: {
          size: 15,
          color: 'rgb(116, 101, 130)',
        },
        showarrow: false, // Hides the arrow pointing to the annotation
        align: 'center',
        x: 0.5, // Centers the annotation horizontally
        y: 0.95, // Positions the annotation at the top of the plot area
        xref: 'paper', // References the entire plot area (0 to 1)
        yref: 'paper', // References the entire plot area (0 to 1)
      }],
      shapes:[ // Box around the panels
        {
          type: 'rect',
          xref: 'paper', // Reference the entire plot width
          x0: 0,
          x1: 1,
          yref: 'paper', // Reference the entire plot width
          y0: 0,
          y1: 1,
          line:{
            color: 'black',
            width: 1
          }
        },
        {
          type: 'line',
          xref: 'paper', // Reference the entire plot width
          x0: 0,
          x1: 1,
          yref: 'paper', // Reference the entire plot width
          y0: 0.275,
          y1: 0.275,
          line:{
            color: 'black',
            width: 1
          }
        }
      ]
    };

    // Usual behavior is to call this function, but here we want a stacked graph.
    //  createPlotlyScatterPlot([xSeries,xSeries],[yDataSeries,yResSeries],[],layout,containerDiv,traceNames);
    // Now create the Plotly plot
    Plotly.newPlot(parentDiv, data, layout, config);
  }


  this.updateChiSquareResultsTable = function(){
    console.log("updateChiSquareResultsTable");
    //$("chiSquareReportTable tbody tr").remove();
    //  chiSquareReportTable
    var results = dataStore.minimaDetails;
    var keys = Object.keys(results);
    keys.sort();
    var tableID = "chiSquareReportTableDivangularCorrelationsResults";
    var cellHandles = ["j1","ChiSq","atan","delta","c2","c4","beta","gamma","a2","a4","display"];

    // Need to delete all table rows and create them again.
    var numRows = document.getElementById(tableID).rows.length;
    for(var i=0; i<numRows; i++){
      document.getElementById(tableID).deleteRow(0);
    }

    // Column titles row
    var rowID = "title";
    var row = document.getElementById(tableID).insertRow(document.getElementById(tableID).rows.length);
    row.id = tableID+rowID;
    // Create the cells for this row
    for(var cellIndex=0; cellIndex<cellHandles.length; cellIndex++){
      var cell = row.insertCell(cellIndex);
      cell.id = row.id + cellHandles[cellIndex];
    }
    // Fill the contents for the title row
    document.getElementById(row.id + 'j1').innerHTML = "j\u2081";
    document.getElementById(row.id + 'ChiSq').innerHTML = "\u{1D6D8}\u00B2/NDF";
    document.getElementById(row.id + 'atan').innerHTML = "atan(\u03B4\u2081)";
    document.getElementById(row.id + 'delta').innerHTML = "\u03B4";
    document.getElementById(row.id + 'c2').innerHTML = "c\u2082";
    document.getElementById(row.id + 'c4').innerHTML = "c\u2084";
    document.getElementById(row.id + 'beta').innerHTML = "\u03B2";
    document.getElementById(row.id + 'gamma').innerHTML = "\u03B3";
    document.getElementById(row.id + 'a2').innerHTML = "a\u2082";
    document.getElementById(row.id + 'a4').innerHTML = "a\u2084";
    document.getElementById(row.id + 'display').innerHTML = "Display";

    // Loop through all results of the chi-square fitting
    for(i=0; i<keys.length; i++){
      rowID = keys[i];
      // Create new row for each result if one does not exist already
      var row = document.getElementById(tableID).insertRow(document.getElementById(tableID).rows.length);
      row.id = tableID+rowID;
      // Create the cells for this row
      for(var cellIndex=0; cellIndex<cellHandles.length; cellIndex++){
        var cell = row.insertCell(cellIndex);
        cell.id = row.id + cellHandles[cellIndex];
        if(keys[i] == dataStore.bestFitKey){ cell.classList.add("heavy-text"); }
      }

      // Fill the contents for this row
      if(keys[i][keys[i].length-1]=="1"){ document.getElementById(row.id + 'j1').innerHTML = results[keys[i]].series; }
      document.getElementById(row.id + 'ChiSq').innerHTML = results[keys[i]].chiSquare;
      document.getElementById(row.id + 'atan').innerHTML = results[keys[i]].atanDelta1;
      document.getElementById(row.id + 'delta').innerHTML = bracketNotationString(results[keys[i]].Delta1,results[keys[i]].Delta1Unc);
      document.getElementById(row.id + 'c2').innerHTML = results[keys[i]].bestFitCoeffsC[0].toFixed(4);
      document.getElementById(row.id + 'c4').innerHTML = results[keys[i]].bestFitCoeffsC[1].toFixed(4);
      document.getElementById(row.id + 'beta').innerHTML = results[keys[i]].beta;
      document.getElementById(row.id + 'gamma').innerHTML = results[keys[i]].gamma;
      document.getElementById(row.id + 'a2').innerHTML = results[keys[i]].bestFitCoeffsA[0].toFixed(4);
      document.getElementById(row.id + 'a4').innerHTML = results[keys[i]].bestFitCoeffsA[1].toFixed(4);

      // Insert the display button
      newButton = document.createElement('button');
      newButton.setAttribute('id', 'display-'+results[keys[i]].series);
      newButton.setAttribute('class', 'btn btn-default');
      newButton.value = keys[i];
      newButton.innerHTML = "Plot this result";
      newButton.onclick = function(){
        dataStore.displayLineData = theoreticalAngularCorrelation(dataStore.minimaDetails[this.value].bestFitCoeffsA[0],dataStore.minimaDetails[this.value].bestFitCoeffsA[1], dataStore.theseAngularBinsRadians);
        dataStore.displayLineName = "Local minimum, "+this.value.split("-")[0]+", \u03B4 = "+dataStore.minimaDetails[this.value].Delta1;
        dataStore.displayLineTitle = "\u{1D6D8}\u00B2/NDF = "+dataStore.minimaDetails[this.value].chiSquare;
        generateResidualsData(dataStore.minimaDetails[this.value].bestFitCoeffsA[0],dataStore.minimaDetails[this.value].bestFitCoeffsA[1]);
        dataStore._angularCorrelationsReport.refreshAngCorrPlot();
      }.bind(newButton);
      document.getElementById(row.id + 'display').appendChild(newButton);
    }


  }

  this.populateChiSquarePlot = function(){
    console.log("populateChiSquarePlot");
    // data comes from dataStore.delta1Series and dataStore.chiSquareSeries
    // which are populated in generateChiSquareData()

    var containerDiv = "angularCorrelationsChiSqPlot";
    var xSeries = [];    // Chi-square plot xSeries is atan( delta ) where delta is mixing ratio
    var ySeries = [];    // Chi-square plot ySeries is the Chi-square value
    var traceNames = []; // Names/titles that will appear in the legend for each series

    // Define the name/title for each series to appear in the legend
    for(var i=0; i<dataStore.minimaDetails.length; i++){
      traceNames.push(dataStore.minimaDetails.series[i]);
    }

    // Define one series for each chi-squared curve.
    for(var j=0; j<dataStore.delta1Series.length; j++){
      xSeries[j] = dataStore.delta1Series[j];
      ySeries[j] = dataStore.chiSquareSeries[j];
      traceNames[j] = dataStore.chiSqLabelSeries[j];
    }

    // Define the layout for this plotly
    var layout = {
      autosize: true,
      title: "\u{1D6D8}\u00B2 distributions",
      xaxis: {title: "atan(\u03B4)", showline: false, zeroline: false},
      yaxis: {title: "\u{1D6D8}\u00B2/NDF", type: "log", showline: false, zeroline: false},
      shapes:[ // Box around the panels
        {
          type: 'rect',
          xref: 'paper', // Reference the entire plot width
          x0: 0,
          x1: 1,
          yref: 'paper', // Reference the entire plot width
          y0: 0,
          y1: 1,
          line:{
            color: 'black',
            width: 1
          }
        },
        { // Line for the critical value
          type: 'line',
          xref: 'paper', // Reference the entire plot width
          x0: 0,
          x1: 1,
          yref: 'y', // Reference the y-axis data
          y0: dataStore.criticalValue, // The y-value where the line will be drawn
          y1: dataStore.criticalValue,
          line: {
            color: 'black',
            width: 1
          }
        }
      ]
    };

    // Send info to create the Plotly scatter plot
    createPlotlyScatterPlot(xSeries,ySeries,[],layout,containerDiv,traceNames);
  }


}
</script>
