<template id='refitOptions'>
    <div class='refitButtons'>
        <div class='col-md-12'>
            <button type="button" class="btn btn-default btn-lg" id='fitLow' engaged='0'>
                <span id='refitLoBadge' class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> 
                <span id='loText'>Refit Low Energy Peak</span>
            </button>
            <button type="button" class="btn btn-default btn-lg" id='fitHigh' engaged='0'>
                <span id='refitHiBadge' class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> 
                <span id='hiText'>Refit High Energy Peak</span>
            </button>
        </div>
    </div>
</template>